body {
    background-color: brown;
    color: white;
    padding: 0px;
    text-align: center;
}

h1 {
    font-size: 45px;
    margin-bottom: 30px;
}

h2 {
    font-size: 30px;
    margin-top: 40px;
}

p {
    font-size: 22px;
}
button {
    background-color: black;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}
button:hover {
    background-color: white;
    color: black;
    transform: scale(1.05);
}
.main-button {
    background-color: black;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    font-size: 22px;
    cursor: pointer;
}
body {
    background-color: brown;
    color: white;
    padding: 40px;
    text-align: center;
}

h1 {
    font-size: 45px;
    margin-bottom: 30px;
}

h2 {
    font-size: 30px;
    margin-top: 40px;
}

p {
    font-size: 22px;
}

.main-button {
    background-color: black;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    font-size: 22px;
    cursor: pointer;
}

.main-button:hover {
    background-color: white;
    color: black;
    transform: scale(1.05);
}
.hero {
    position: relative;
    min-height: 100vh;
    background-image: url("./marz-dollar-hero.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 60px;
}
.navbar {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 45px;
    z-index:1000;
}
.navbar a {
    color: transparent;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover {
    color: transparent;
}
.vision-page {
    min-height: 100vh;
    background: linear-gradient(135deg, #111111, #3b1f00);
    color: white;
    text-align: center;
    padding: 100px 30px;
    box-sizing: border-box;
}

.vision-page h1 {
    font-size: 50px;
    color: gold;
    margin-bottom: 40px;
}

.vision-page p {
    font-size: 22px;
    max-width: 800px;
    margin: 20px auto;
    line-height: 1.6;
}

.vision-page h2 {
    font-size: 32px;
    color: gold;
    margin-top: 50px;
}

.vision-page button {
    background-color: black;
    color: white;
    padding: 15px 30px;
    border: 2px solid gold;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 30px;
}

.vision-page button:hover {
    background-color: gold;
    color: black;
    transform: scale(1.05);
}
