body {
    background-color: brown;
    color: white;
    padding: 40px;
}

h1 {
    font-size: 45px;
    margin-bottom: 30px;
}

h2 {
    font-size: 30px;
    margin-top: 40px;
}

p {
    font-size: 22px;
}
